<!--
    Title: new.ejs
    Author: David Rachwalik
    Date: 2022/02/27
    Description: WEB-340 ems site data entry page
-->

<%- include('shared/header') %>

<%- include('shared/navbar') %>

<div role="main" class="container">
    <br /><br />
    <h2><%= message %></h2>

    <h2>Welcome to the data entry page!</h2>
    <p>This site contains actions to create data entries.</p>

    <form method="post" action="/process" data-csrf="<%= csrfToken %>">
        <div class="form-group">
            <label for="txtFirstName">First Name:</label>
            <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" />
            <label for="txtLastName">Last Name:</label>
            <input type="text" class="form-control" id="txtLastName" name="txtLastName" />
        </div>
        <br />
        <div class="form-group">
            <!-- CSRF token -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </div>
    </form>
</div>

<%- include('shared/footer') %>